---
export type MenuItems = {
	title?: string;
	menuItems?: Array<{
		heading: {
			depth: number;
			text: string;
			slug: string;
		};
		items: Array<{ title: string; link: string }>;
	}>;
	version?: string | null;
	currentSlug?: string;
};

const { title, menuItems, version, currentSlug } = Astro.props;
const slug = (Astro.url.pathname.split("/").pop() || "Home")
	.split(".")[0]
	.split("-")
	.map((word) => word.charAt(0).toUpperCase() + word.slice(1))
	.join(" ");
import Header from "./header.astro";
import "@/styles/global.css";
---

<script is:inline>
  function setDarkMode(document) {
    let theme = localStorage.getItem("darkMode") === "dark" ? "dark" : "light";
    document.documentElement.className = theme;
  }

  setDarkMode(document);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || `POC | ${slug}`}</title>
  </head>
  <body>
    <main>
      <Header menuItems={menuItems} version={version} currentSlug={currentSlug} />
      <slot />
    </main>
  </body>
</html>